Desafio.WebApp/Connected Services/DesafioService/DesafioService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AbrirFechar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endereco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbrirFecharResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AbrirFecharResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManterAberto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endereco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManterAbertoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManterAbertoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fechar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endereco" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FecharResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FecharResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>