Desafio.WebApp/Connected Services/DesafioService/DesafioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DesafioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54064/DesafioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54064/DesafioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDesafioService_AbrirFechar_InputMessage">
    <wsdl:part name="parameters" element="tns:AbrirFechar" />
  </wsdl:message>
  <wsdl:message name="IDesafioService_AbrirFechar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbrirFecharResponse" />
  </wsdl:message>
  <wsdl:message name="IDesafioService_ManterAberto_InputMessage">
    <wsdl:part name="parameters" element="tns:ManterAberto" />
  </wsdl:message>
  <wsdl:message name="IDesafioService_ManterAberto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ManterAbertoResponse" />
  </wsdl:message>
  <wsdl:message name="IDesafioService_Fechar_InputMessage">
    <wsdl:part name="parameters" element="tns:Fechar" />
  </wsdl:message>
  <wsdl:message name="IDesafioService_Fechar_OutputMessage">
    <wsdl:part name="parameters" element="tns:FecharResponse" />
  </wsdl:message>
  <wsdl:portType name="IDesafioService">
    <wsdl:operation name="AbrirFechar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesafioService/AbrirFechar" message="tns:IDesafioService_AbrirFechar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesafioService/AbrirFecharResponse" message="tns:IDesafioService_AbrirFechar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ManterAberto">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesafioService/ManterAberto" message="tns:IDesafioService_ManterAberto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesafioService/ManterAbertoResponse" message="tns:IDesafioService_ManterAberto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fechar">
      <wsdl:input wsaw:Action="http://tempuri.org/IDesafioService/Fechar" message="tns:IDesafioService_Fechar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDesafioService/FecharResponse" message="tns:IDesafioService_Fechar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDesafioService" type="tns:IDesafioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AbrirFechar">
      <soap:operation soapAction="http://tempuri.org/IDesafioService/AbrirFechar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ManterAberto">
      <soap:operation soapAction="http://tempuri.org/IDesafioService/ManterAberto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fechar">
      <soap:operation soapAction="http://tempuri.org/IDesafioService/Fechar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DesafioService">
    <wsdl:port name="BasicHttpBinding_IDesafioService" binding="tns:BasicHttpBinding_IDesafioService">
      <soap:address location="http://localhost:54064/DesafioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>